body {
    background-image: url("Tunnel_of_ducks.jpeg");
    background-color: #5AF6F6;
}

h1 {
    border-style: solid;
    color: white;
}

h2 {
    border-style: dashed;
    color: white;
}

p {
    background-color: black;
    border-radius: 30px;
    color: white;
}

div {
    padding: 50px;
    margin: 20px;
}