@font-face {
    font-family: Crimeson-regular;
    src: url(fonts/CrimsonText-Regular.ttf);
}

@font-face {
    font-family: Crimeson-italic;
    src: url(fonts/CrimsonText-Italic.ttf);
}

body {
    background-color: #FFC8DD;
    font-family: Crimeson-regular;
}

.italic-font {
    font-family: Crimeson-italic;
}

.cake-pic {
    height: 200px;
    overflow: hidden;
    margin-bottom: 20px;
}

.cake-pictures img {
    width: 100%;
}

.navbar {
    background: #CDB4DB;
    ;
}

.juustokakku {}

.checked {
    color: orange;
}

.stars {
    margin-top: 10px;
    margin-bottom: 10px;
}

.spacing {
    width: 30px;
    height: 30px;
}

.pictures {
    padding-top: 20px;
    padding-bottom: 50px;
}

.btn {
    background-color: #A2D2FF;
    border: 1px solid #A2D2FF;
    color: black;
}

.cardbox {
    max-width: 1000px;
    margin: 0 auto;
}

.card {
    margin-bottom: 20px;
}